.order-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
}
.order-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* height: 50%; */
    width: 100%;
}
.order-details {
    width: 75%;
    /* gap: 100px; */
}

.history-source-code {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-desc {
    display: flex;
    justify-content: center;
    /* align-items: baseline; */
}
