.order-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    gap: 10px;
}
.order-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(90, 90, 90);
    /* height: 50%; */
    width: 100%;
    padding: 20px 0px;
}
.order-details {
    width: 70%;
    line-height: 30px;
}

.history-source-code {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project-desc {
    gap: 5px;
}
.border {
    border-bottom: 2px solid #44b4e0;
    font-weight: bold;
}
.pro-desc {
    gap: 5px;
}
.project-assets {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #44b4e0;
}
.history-source-code a {
    border: 2px solid #1790e1;
    color: #1790e1;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
.history-source-code a:hover {
    color: white;
    background-color: #1790e1;
    transition: 0.3s;
}
.order-head {
    color: #1790e1;
}
/* profile css starts here */
