:root {
    --primaryColor: #00a3e1;
    --secondaryColor: #17181b;
    --backgroundColor: #2c2d2f;
    --borderText: #7a7a7a;
    --hoverColor: #fff;
    --blackColor: black;
}

.main-resume-container {
    /* position: relative; */
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 50px;
    margin-top: 50px;
}

.resume-left-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    /* width: 100%; */
}

.resume-right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 50%;
    /* padding-bottom: 30px; */
    /* width: 100%; */
    /* padding-bottom: 40px; */
}

.resume-heading {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    min-height: 40px;
    text-align: center;
    border-bottom: 2px solid #00a3e1;
}

.resume-left-text-container {
    display: flex;
    margin-bottom: 20px;
}

.resume-right-text-container {
    display: flex;
    margin-bottom: 20px;
}

/*  */
.resume-text-holder {
    margin: 30px 10px;
}

.rsm-txt-heading {
    color: white;
}

.rsm-txt-subheading {
    color: var(--primaryColor);
}

.resume-text {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    .main-resume-container {
        flex-wrap: wrap;
    }

    .resume-left-info,
    .resume-right-info {
        max-width: 100%;
    }

    .resume-left-info {
        max-width: 100%;
    }

    .resume-right-info {
        max-width: 100%;
    }
}

