.gear-container {
    display: flex;
    position: fixed;
    display: flex;
    top: 70px;
    right: 0px;
    z-index: 15;
    transition: 1s;
    transform: translateX(80%);
}

.gear-container-open {
    transition: 1s;
    transform: translateX(0%);
}

.gear-icon {
    cursor: pointer;
    font-size: 30px;
    color: rgb(68, 180, 224);
    margin-right: 10px;
}

/* .gear-open {
    transform: translateX(0%);
    transition: 1s; 
} */





.gear-menu {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.gear-menu-open {
    /* transition: all 1s;
    transform: translateX(10%); */
}

.gear-select {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
}


.theme-1 {
    /* theme specific styles */
}

.theme-2 {
    /* theme specific styles */
}