.subheading {
    /* position: relative; */
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: 0.5px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: white;
}

/* ---Section About--- */

/* ---------ABOUT PAGE STARTS HERE----------- */

.aboutuser-icon {
    height: 50px;
    width: 50px;
}

.about-user-icon {
    height: 40px;
    width: 40px;
    fill: #00a3e1;
    /* background-color: #00a3e1; */
}

.about-all-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.about-left-info {
    width: 60%;
    height: auto;
}

.ui-ux-designer {
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    margin-top: 35px;
}

.about-right-info {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
}

.personel-info-heading {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    margin-right: 47px;
}

.personal-info-list {
    color: white;
    line-height: 1em;
    margin-bottom: 15px;
}

.personal-info-title {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
    /* letter-spacing: .5px; */
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 1px;
    border-bottom: 3px solid #00a3e1;
    color: #fff;
}

.personal-info-value {
    font-size: 16px;
    /* font-weight: 700; */
    letter-spacing: 0.5px;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 1px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.uiux-dummy-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.personal-info-title ::after {
    content: " :";
    top: 0;
    position: absolute;
    right: -10px;
}

.about-right-info ul li {
    padding: 3px 0px;
}

.download-resume-btn {
    color: var(--primaryColor);
    border: 2px solid #0082b6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px;
    margin-right: 70px;
    padding: 6px 18px;
    font-size: 14px;
    position: relative;
    transition: ease-out 0.5s;
    z-index: 1;
}

.download-resume-btn:hover {
    color: white;
}

.download-resume-btn::after {
    content: "";
    left: 90%;
    right: 90%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #0082b6;
    position: absolute;
    transition: 0.5s all ease;
}

.download-resume-btn:hover::after {
    left: 0;
    right: 0;
    opacity: 1;
    transition: 0.5s all ease;
    z-index: -1;
}

.signature-area img {
    width: 100%;
    height: 100px;
    /* transform: translateX(-180px); */
    filter: brightness(0) invert(1);
}

.signature-area {
    margin-top: 10px;
    z-index: 1;
}

@media (max-width: 768px) {
    .about-all-info {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-right-info,
    .about-left-info {
        width: 90%;
    }

    .about-right-info {
        align-items: flex-start;
    }
}
