.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-area {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5) url("/public/images/other/home-bg.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .main-image-area {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .banner-qandeel {
        font-size: 3rem;
        font-weight: 700px;
    }

    .banner-khan {
        font-size: 3rem;
        font-weight: 700px;
    }

    .banner-text {
        transform: translateX(-80px);
    }
}

@media (max-width: 425px) {
    .banner-qandeel {
        font-size: 2.3rem;
        margin: 0px;
        font-weight: 700px;
    }

    .banner-khan {
        font-size: 2.3rem;
        font-weight: 700px;
        margin: 0px;
    }
}

.banner-text {
    position: absolute;
    color: #00a3e1;
    font-size: 4.1rem;
    margin-left: 150px;
    margin-bottom: 100px;
    font-weight: 700px;
    font-family: "Playfair Display", serif;
}

.banner-qandeel {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 5px;
}

.banner-khan {
    color: #00a3e1;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px 5px;
}

@keyframes typetext {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}