.post-page-main {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    /* width: 100%; */
    height: 100%;
    perspective: 1200px;
    overflow: hidden;
    background-color: #2c2d2f;
}

.post-page-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1;
    /* padding-bottom: 50px; */
}

.post-image {
    /* width: 100%; */
}

.detail-image {
    width: 100%;
    max-height: 65vh;
    border: 0 none;
    vertical-align: middle;
    height: auto;
    object-fit: cover;
}

.post-wrapper {
    width: 100%;
}

.post-container {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    border: 1px solid red;
}

.post-headings {
    margin-top: -5%;
    padding: 40px 15% 10px 15%;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: 0.5px;
    background-color: #2c2d2f;
}

.categories {
    color: #00a3e1;
    word-wrap: break-word;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}

.category-name {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    /* font-size: 3em; */
}

.post-title {
    font-size: 2.5em;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    margin-top: 0;
    text-align: center;
}

.post-date {
    font-family: serif;
    font-style: italic;
    color: #e1e1e1;
    font-size: 14px;
}

.text-content {
    padding-bottom: 50px;
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    /* add properties to body element */
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #e1e1e1;
    font-weight: 400px;
}

.post-paragraph {
    margin-bottom: 24px;
}

.paragraph-heading {
    font-size: 1.5rem;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}

.block-quote {
    margin: 1em 0;
    font-size: 1.3em;
    padding: 0 0 0 30px !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 28px;
    font-style: italic;
    font-weight: 400;
    border-left: 4px solid #00a3e1;
    overflow-wrap: break-word;
}

.quote-writer {
    font-size: 15px;
    /* font-size: 1sem; */
    text-align: right;
}

.content-images-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    /* align-items: center; */
}

.content-image-container {
    width: 100%;
    max-width: 280px;
    margin: 0.6%;
    height: auto;
}

.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag-links {
    text-align: center;
    line-height: 1.65;
    color: #e1e1e1;
    text-decoration: none;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon {
    margin-right: 7px;
    font-size: 16px;
    width: 14px;
}

.tag-links a {
    margin: 0 7px 10px 0;
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
    height: 22px;
    line-height: 19px;
    font-weight: 500;
    font-size: 14px !important;
    text-decoration: none;
    border: 1px solid;
    color: #00a3e1;
}

.post-navigation {
    margin-top: 50px;
}

.nav-links {
    display: inline;
    margin-top: 30px;
    margin-left: 10px;
    transition: all 0.3s ease 0s;
}

.nav-links:hover .prev-icon {
    transition: all 0.3s ease 0s;
    transform: translateX(-10px);
}

.nav-links a {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

/* comment section starts here */
.comments-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.comment-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.comment-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 20px;
    /* margin-left: 20px; */
}

.author-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.author-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.reply {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a4a4a5;
    gap: 5px;
}

.comment-date {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    color: #a4a4a5;
}

.comment-para {
    width: 100%;
    margin-top: 5px;
}

.comment-reply {
    padding-left: 40px;
    border-bottom: 1px solid rgb(75, 74, 74);
    padding-bottom: 30px;
    padding-top: 15px;
}

.comment-next {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(75, 74, 74);
    padding-top: 15px;
}

/* comment area starts */
.blog-detail-comment-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.comment-write {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 30px;
    color: white;
}

.input-group {
    width: 100%;
    position: relative;
}

.name-and-email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.input-group .form-input {
    padding: 10px;
}

.input-group input {
    width: 100%;
    background: transparent;
    border: 2px solid #999999;
    color: white;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 7px 10px;
    cursor: text;
    transition: 0.2s;
    background: transparent;
    /* border: 2px solid white; */
    /* outline: white; */
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -30px;
    left: -10px;
    font-size: 14px;
}

.input-message textarea:focus~label,
.input-message textarea:valid~label {
    top: -30px;
    left: -10px;
    font-size: 14px;
}

.input-group textarea {
    transition: 0.2s;
}

.checkbox label {
    margin-left: 5px;
    /* width: 100%; */
}

/* .checkbox input[type="checkbox"] {
    height: 20px;
    width: 20x;
} */
@media (max-width: 768px) {
    .name-and-email {
        flex-wrap: wrap;
    }
}