.lets-talk-area {
    width: 70%;
    margin-top: 50px;
}

.subheading {
    /* position: relative; */
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: 0.5px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: white;
}

.name-email-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.name-email-area input {
    background: transparent;
    border: 2px solid #999;
    outline: none !important;
    width: 100%;
    height: auto;
    margin: 10px 15px;
    margin-bottom: 50px;
    line-height: 40px;
    padding: 0px 10px;
    color: #dedede;
    font-size: 1em;
    transition: all 0.5s ease;
}

.name-email-area label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: text;
    margin-top: 0.5em;
    margin-left: 1.2em;
    color: lightgrey;
    transition: all 0.2s ease;
}
.messsage-area label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: text;
    margin-top: 0.5em;
    margin-left: 1.2em;
    color: lightgrey;
    transition: all 0.2s ease;
}

.name-email-area input:focus + label,
.name-email-area input:valid + label {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    top: -25px;
    left: -5px;
    pointer-events: none;
}
.messsage-area input:focus + label,
.messsage-area input:valid + label {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    top: -25px;
    left: -5px;
    pointer-events: none;
}

.name-email-area input:focus,
.name-email-area input:valid {
    border: 2px solid white;
}
.messsage-area input:focus,
.messsage-area input:valid {
    border: 2px solid white;
}

.messsage-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px 15px;
}

.message {
}

.text-area-label {
}

.send-messsage-btn {
    background-color: transparent;
    color: var(--primaryColor);
    border: 2px solid #019ad6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px 0px;
    /* margin-right: 70px; */
    padding: 6px 18px;
    font-size: 14px;
    position: relative;
    transition: ease-out 0.5s;
    z-index: 1;
}

.send-messsage-btn:hover {
    color: black;
}

.send-messsage-btn::after {
    content: "";
    /* left: 0; */
    right: 0;
    top: 0;
    /* bottom: 0; */
    width: 1px;
    height: 100%;
    opacity: 0;
    background-color: #029bd8;
    position: absolute;
    transition: 0.3s all ease;
}

.send-messsage-btn::before {
    content: "";
    left: 0;
    /* right: 0; */
    top: 0;
    /* bottom: 0; */
    width: 1px;
    height: 100%;
    opacity: 0;
    background-color: #029bd8;
    position: absolute;
    transition: 0.3s all ease;
}

.send-messsage-btn:hover::after {
    /* left: 0;
    right: 0; */
    opacity: 1;
    transition: 0.3s all ease;
    z-index: -1;
    width: 50%;
    height: 100%;
}
.send-messsage-btn:hover::before {
    /* left: 0;
    right: 0; */
    opacity: 1;
    transition: 0.3s all ease;
    z-index: -1;
    width: 50%;
    height: 100%;
}
.form {
    width: 100%;
}
/* Form Name and Email Fields Start */

.field-holder {
    position: relative;
    margin-right: 30px;
    width: 100%;
}

/*added the "valid selector", so, when there's a text in field,the label keep on top even on swapping to another window */

/* Form Name and Email Fields End */

textarea {
    background: transparent;
    border: 2px solid #999;
    outline: none;
    width: 100%;
    height: auto;
    min-height: 150px;
    padding: 10px 10px;
    color: #dedede;
    transition: all 0.5s ease;
    resize: none;
    overflow: auto;
}

textarea:focus + .text-area-label,
textarea:valid + .text-area-label {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    top: -32px;
    left: -5px;
    pointer-events: none;
}

textarea:focus,
textarea:valid {
    border: 2px solid white;
}

::placeholder {
    color: #dedede;
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 768px) {
    .name-email-area {
        flex-wrap: wrap;
    }
    .lets-talk-area {
        width: 90%;
        /* margin-top: 50px; */
    }
}
