.projects-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding: 0; */
}

.menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.menu-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgb(151, 150, 150);
    /* padding: 10px 0px; */
    border-radius: 50px;
    flex-wrap: wrap;
}

.menu-div ul li a {
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
}

.menu-div ul li {
    padding: 10px 10px;
    border-radius: 50px;
    background-color: rgb(2, 168, 197);
}

.masonry-grid {
    display: flex;
    /* gutter size offset */
    width: auto;
}

.masonry-grid_column {
    padding-left: 10px;
}

.masonry-grid_column>div {
    margin-bottom: 5%;
    margin-left: 10%;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}