* {
    margin: 0;
    padding: 0;
}

.header-fix {
    position: absolute;
    top: 0;
    background-color: #17181b;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 70px;
}

.header-fix .fa-circle-xmark {
    color: white;
    font-size: 30px;
}

.main-container {
    /*  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
}

.left-content {
    padding-top: 80px;
    background-color: #2c2d2f;
    grid-column-start: span 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-content {
    background-color: #2c2d2f;
    grid-column-start: span 2;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 150px 25px 100px;
    color: white;
}

.footer {
    grid-column-start: span 3;
    background-color: #2c2d2f;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 50px;
}

.left-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    color: white;
}

.left-content ul li {
    list-style-type: none;
    padding: 10px 0px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #00a3e1;
    margin-bottom: 30px;
    margin-top: 30px;
}

.second-heading {
    font-size: 25px;
}

.key {
    font-size: 20px;
    border-bottom: 2px solid #00a3e1;
}

.project-description {
    font-size: 25px;
    margin-top: 30px;
}

.right-content p {
    line-height: 180%;
    font-size: 1.1rem;
}

.view-live {
    font-size: 17px;
    border-bottom: 2px solid #00a3e1;
    margin-top: 20px;
}

.footer img {
    width: 45%;
}

.right-image {
    margin-left: 20px;
}

.footer .images-area {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .left-content,
    .right-content,
    .footer {
        grid-column-start: span 1;
    }

    .left-content {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .right-content {
        padding-left: 50px;
        padding: 80px 50px 25px 50px;
    }

    .footer .images-area {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .right-image {
        margin-left: 0px;
        margin-top: 20px;
    }

    .footer img {
        width: 100%;
    }

    .footer .images-area {
        width: 100%;
    }
}