.nav-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #17181b;
    min-width: 200px;
    height: 47px;
    /* margin: 0 100px; */
    border-bottom: 1px solid rgb(37, 37, 37);
    transition: 0.3s;
}

.nav-icon {
    background-color: transparent;
    color: rgb(187, 186, 186);
    opacity: .6;
    margin-right: 10px;
    margin-left: 40px;
    cursor: pointer;
}

.nav-btn-link {
    font-size: 12px;
    opacity: .6;
    color: rgb(202, 202, 202);
    transition: 0.3s;
    letter-spacing: 1px;
    /* font-weight: bold; */
}

.nav-btn-link:hover {
    transition: 0.3s;
    color: white;
}
