.clients-slide {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
}

/* .slide-container {} */

.subheading span {
    border-bottom: 2px solid var(--primaryColor);
    padding: 0 9px;
}

.client-logo img {
    /* max-width: 140px; */
    max-height: 120px;
    margin: auto;
    opacity: 0.7;
}