.experience {
    display: flex;
}

.experience-item {
    display: flex;
}

.experience-pole {
    width: 10px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}

.experience-info {
    margin-left: 20px;
}