.location-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-bottom: 70px;
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map {
    width: 100%;
    margin-bottom: 60px;
}
@media (max-width: 768px) {
    .location-area {
        flex-wrap: wrap;
    }
    .box {
        margin-top: 20px;
    }
}
