* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
}

:root {
    --primaryColor: #00a3e1;
    --secondaryColor: #17181b;
    --borderText: #7a7a7a;
    --hoverColor: #fff;
    --blackColor: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    position: fixed;
    /* border: 1px solid red; */
    /* z-index: 100; */
}

/* imag area css */


.image-area {
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-area img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    z-index: -1;
}

.person-name {
    width: 200px;
    height: 45px;
    background-color: var(--primaryColor);
    z-index: 100;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;


}

.person-name span {
    font-size: 22px;
    color: var(--hoverColor);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 1px 9px 12px #000;
}

/* menu bar css starts here  */

.menubar-area {
    display: flex;
    flex-direction: column;
}

.menubar-area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer css starts here */

.footer-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondaryColor);
    height: 100vh;
}

.footer-icons {
    font-size: 18px;
    margin-top: 17px;
    color: rgb(156, 156, 156);
}

.footer-area .footer-text {
    font-size: 12px;
    margin-top: 7px;
    color: rgb(146, 144, 144);
    text-align: center;
    line-height: 15px;
    margin-bottom: 1rem;
}

.icons-social {
    padding: 0px 10px 10px 0px;
    transition: 0.3s;
}

.icons-social:hover {
    transition: 0.3s;
    color: var(--hoverColor);
    cursor: pointer;
}

/* main image areaa ccsss starts here */

.main-of-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

.main-image-area {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5) url('/public/home-bg.jpg');
    /* opacity: 0.9; */
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    /* position: relative; */
    margin-left: 200px;

}

.banner-text {
    position: absolute;
    color: #00a3e1;
    font-size: 4.1rem;
    /* word-wrap: break-word; */
    margin-left: 150px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-weight: 700px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    

}

.banner-qandeel {
    color: white;
    margin: 0px 10px;
}

.banner-khan {
    color: #00a3e1;
    margin: 0px 10px;
}