/* ---Global Styles--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.65;
}

:root {
    --primaryColor: #00a3e1;
    --secondaryColor: #17181b;
    --backgroundColor: #2c2d2f;
    --borderText: #7a7a7a;
    --hoverColor: #fff;
    --blackColor: black;
}

/* ---Side Nav--- */

.toggle-mode {
    position: fixed;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    z-index: 10;
    background-color: #17181b;
    transform: translateY(-40px);
}

@media (max-width: 768px) {
    .toggle-mode {
        transform: translateY(0px);
    }
}

.toggler-container {
    /* position: absolute; */
    /* margin-bottom: 1.6%; */
}

.toggler {
    display: flex;
    height: 100%;
    transition: 0.3s;
    /* text-decoration: none; */
    border: none;
    border-right: 1px solid #3b3c43;
}

.toggler-clicked {
    /* transition: all ease-in 0.1s; */
    transform: translate(200px);
    transition: 0.3s;
}

.toggler-unclicked {
    transform: translateX(0px);
    transition: 0.3s;
    /* transition: all ease-in 0.1s; */
}

.toggle-icon {
    width: 45px;
    font-size: 20px;
    color: white;
    background-color: var(--secondaryColor);
}

.mobile-header {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 0;
    padding-left: 30%;
    padding-right: 50px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

@media (max-width: 425px) {
    .mobile-header {
        padding-left: 20%;
    }
}

@media (max-width: 375px) {
    .mobile-header {
        padding-left: 15%;
    }
}

@media (max-width: 320px) {
    .mobile-header {
        padding-left: 10%;
    }
}

@media (max-width: 375px) {
    .mobile-header {
        padding-left: 15%;
    }
}

@media (max-width: 320px) {
    .mobile-header {
        padding-left: 10%;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    transition: 0.3s;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
}

/* .nav-hidden {
    transform: translateX(-200px);
} */

@media (max-width: 768px) {
    .nav {
        transform: translateX(-200px);
    }
}

@media (max-width: 768px) {
    .nav-hidden {
        transform: translateX(-200px);
    }
}

@media (max-width: 768px) {
    .nav-visible {
        transform: translateX(0px);
    }
}

/* imag area css */

.image-area {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.image-area img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    z-index: -1;
}

.person-name {
    width: 200px;
    height: 45px;
    background-color: var(--primaryColor);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.person-name span {
    font-size: 22px;
    color: var(--hoverColor);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-shadow: 1px 9px 12px #000;
}

/* menu bar css starts here  */

.menubar-area {
    display: flex;
    flex-direction: column;
    /* padding-left: 10px; */
}

.menubar-area ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer css starts here */

.footer-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondaryColor);
    height: 100vh;
    padding: 0px 15px;
}

.footer-icons {
    font-size: 18px;
    /* margin-top: 17px; */
    color: rgb(156, 156, 156);
}

.footer-area .footer-text {
    font-size: 12px;
    margin-top: 7px;
    color: rgb(146, 144, 144);
    text-align: center;
    line-height: 15px;
    margin-bottom: 1rem;
}

.icons-social {
    padding: 0px 10px 10px 0px;
    transition: 0.3s;
}

.icons-social:hover {
    transition: 0.3s;
    color: var(--hoverColor);
    cursor: pointer;
}

/* Contact Section */

.contact-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    margin-left: 200px;
}

.contact-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* object-fit: contain; */
    margin-left: 65px;
    margin-right: 65px;
    font-family: "Playfair Display", serif;
}

/* Contact Section */

.contact-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    margin-left: 200px;
}

.contact-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
}

/* contact area starts here */

.location-icons {
    font-size: 32px;
    color: #00a3e1;
    padding-bottom: 12px;
}

.location-area span {
    color: #ffffff;
    font-size: 17px;
}

.side-nav-social-links {
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.side-nav-social-links:hover {
    color: white;
}

.upwork-icon {
    height: 21px;
    width: 21px;
    fill: grey;
    transition: 0.5s;
    cursor: pointer;
}

.upwork-icon:hover {
    height: 29px;
    width: 29px;
    font-weight: bold;
    fill: green;
    transition: 0.5s;
    transform: rotate(360deg);
    /* font-weight: bold; */
}