.under-construction {
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7a7a7a;
}

.page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.page-exit {
    opacity: 0;
}