/* card component start here */

.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    gap: 20px;
}

.under-construction .construction {
    color: #00a3e1;
}

.projects-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;


    /* padding: 0; */
}

.menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.menu-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgb(151, 150, 150);
    border-radius: 50px;
    flex-wrap: wrap;
}

.menu-div ul li {
    text-align: center;
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    min-width: 90px;
}

.active {
    color: black;
    background-color: black;
}

.tabs {
    padding: 7px 10px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.active {
    padding: 7px 10px;
    border-radius: 50px;
    background-color: #00a3e1;
}

/* .active {
    background-color: #00a3e1;
} */

/* css starts here */

.masonry-grid {
    display: flex;
    /* gutter size offset */
    width: auto;
    margin-top: 20px;


}

/* .masonry-grid_column {
    padding-left: 10px;
} */

.masonry-grid_column>div {
    /* margin-bottom: 5%; */
    /* margin-left: 10%; */
    margin: 10px 15px;
}



/* 
.onhover-icon-1 {
    margin-top: 60%;
}

.onhover-icon-2 {
    margin-top: 90%;
}

.onhover-icon-3 {
    margin-top: 100%;
}

.onhover-icon-4 {
    margin-top: 35%;
}

.onhover-icon-5 {
    margin-top: 30%;
}

.onhover-icon-6 {
    margin-top: 45%;
}

.onhover-icon-7 {
    margin-top: 90%;
}

.onhover-icon-8 {
    margin-top: 100%;
}

.onhover-icon-9 {
    margin-top: 55%;
}

.onhover-icon-10 {
    margin-top: 45%;
}

.onhover-icon-11 {
    margin-top: 45%;
} */


