.registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    gap: 40px;
}
.terms-text span {
    color: white;
}
.tc input {
    margin-right: 5px;
}
.login-button {
    width: 150px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #02729e;
    color: #00a3e1;
    transition: 0.5s;
}
.login-button:hover {
    background-color: #00a3e1;
    color: black;
    transition: 0.5s;
}
